
#red {

    color:red;

}

#blue{

    color:blue;

}

#orange{

    color:orange;

}

#green{
    color:green;



}

#yellow{

    color:yellow;
    font-weight: normal;

}

img{
    width: 200px;
    height: 200px;
}


